html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  canvas {
    margin: auto;
    display: block;
    cursor: crosshair;
  }

  h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .param {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row;
  }

  .functions {
    width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .param-left {
    margin-left: 10px;
    text-align: center;
  }

  .param-right {
    text-align: center;
    margin-right: 10px;
  }

  .param-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  input {
    max-width: 50px;
  }

  .button {
    margin: 10px;
    height: 40px;
    width: 40px;
  }
  